<div class="sobre-container container-fluid">
  <div class="row">
    <div class="col-4">
      <p class="display-5"><strong>Unidade:</strong> Bonsucesso</p>
      <p class="display-5"><strong>Turma:</strong> ADS0301M</p>
      <p class="display-5"><strong>Turno:</strong> Manhã</p>
    </div>
    <div class="col-4 text-center">
      <img src
        ="assets/foto.png"
        alt="Foto de perfil"
        class="img-fluid profile-photo"
      />
    </div>
    <div class="col-4 text-end">
      <p class="display-6"><strong>Nome:</strong> Matheus Martins Alencar</p>
    </div>
  </div>
</div>
